<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- favicon and title -->
    <title>IMS | {% block title %}Website{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" sizes="256x256">

    <!-- css -->
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ims.min.css') }}">
    {% endblock %}
</head>
<body>
    <!-- nav -->
    {% block nav %}
    {% endblock %}

    <!-- nav -->
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <!-- footer -->
    {% block footer %}
    {% endblock %}

    <!-- js -->
    {% block js %}
    {% endblock %}
</body>
</html>