.right {
  float: right !important;
}

.left {
  float: left !important;
}

.only {
  display: none;

  @media #{$media-only-s}{
    &.s {
      display: block;
    }
  }
  @media #{$media-only-m}{
    &.m {
      display: block;
    }
  }
  @media #{$media-only-l}{
    &.l {
      display: block;
    }
  }
  @media #{$media-only-xl}{
    &.xl {
      display: block;
    }
  }
}

.error{
  color: #BE0000;
  font-weight: bold;
}